<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <org.jenkinsci.plugins.periodicreincarnation.JobLocalConfiguration plugin="periodic-reincarnation@1.12.1">
      <isLocallyConfigured>false</isLocallyConfigured>
      <isLocallyDeactivated>false</isLocallyDeactivated>
    </org.jenkinsci.plugins.periodicreincarnation.JobLocalConfiguration>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>module</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>performance-jmeter</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/sh
cd $(pwd)/${module}/workspace
echo ${module}
docker-compose -f docker-compose-ci.yml -p vagrant stop
docker-compose -f docker-compose-ci.yml -p vagrant rm --force
chmod 755 provision.sh
echo &apos;start db&apos;
if [ ${module} == &quot;banking-auth-service-PR&quot; ] || [ ${module} == &quot;banking-auth-service-dev&quot; ] || [ ${module} == &quot;auth-build&quot; ]
then
    echo &apos;bringing up auth service&apos;
    docker-compose -f docker-compose-ci.yml -p vagrant up -d molehill-db collectorauth
elif [ ${module} == &quot;banking-reference-service-PR&quot; ] || [ ${module} == &quot;banking-reference-service-dev&quot; ] 
then
    echo &apos;bringing up reference service&apos;
    docker-compose -f docker-compose-ci.yml -p vagrant up -d molehill-db reference
elif [ ${module} == &quot;banking-enrolment-service-PR&quot; ] || [ ${module} == &quot;banking-enrolment-service-dev&quot; ] || [ ${module} == &quot;enrolment-build&quot; ]
then
    echo &apos;bringing up enrolment service&apos;
    docker-compose -f docker-compose-ci.yml -p vagrant up -d molehill-db enrolment
elif [ ${module} == &quot;transaction-build&quot; ] || [ ${module} == &quot;banking-transaction-service-dev&quot; ]
then
    echo &apos;bringing up transaction service&apos;
    docker-compose -f docker-compose-ci.yml -p vagrant up -d molehill-db transaction
fi
sleep 90
echo &apos;deploy schema&apos;
./banking-database/docker/deploy-molehill-schema-docker.sh -p vagrant
echo &apos;pre test data&apos;
./banking-database/docker/deploy-test-data.sh -p vagrant
echo &apos;run tests&apos;
docker-compose -f docker-compose-ci.yml -p vagrant up jmetertest</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.performance.PerformancePublisher plugin="performance@3.10">
      <errorFailedThreshold>0</errorFailedThreshold>
      <errorUnstableThreshold>0</errorUnstableThreshold>
      <errorUnstableResponseTimeThreshold></errorUnstableResponseTimeThreshold>
      <relativeFailedThresholdPositive>0.0</relativeFailedThresholdPositive>
      <relativeFailedThresholdNegative>0.0</relativeFailedThresholdNegative>
      <relativeUnstableThresholdPositive>0.0</relativeUnstableThresholdPositive>
      <relativeUnstableThresholdNegative>0.0</relativeUnstableThresholdNegative>
      <nthBuildNumber>0</nthBuildNumber>
      <configType>ART</configType>
      <graphType>ART</graphType>
      <modeOfThreshold>false</modeOfThreshold>
      <failBuildIfNoResultFile>true</failBuildIfNoResultFile>
      <compareBuildPrevious>false</compareBuildPrevious>
      <optionType>ART</optionType>
      <xml></xml>
      <modePerformancePerTestCase>false</modePerformancePerTestCase>
      <excludeResponseTime>false</excludeResponseTime>
      <modeThroughput>false</modeThroughput>
      <modeEvaluation>false</modeEvaluation>
      <constraints class="empty-list"/>
      <ignoreFailedBuilds>false</ignoreFailedBuilds>
      <ignoreUnstableBuilds>false</ignoreUnstableBuilds>
      <persistConstraintLog>false</persistConstraintLog>
      <sourceDataFiles>${module}/workspace/**/performance_report.xml</sourceDataFiles>
      <junitOutput></junitOutput>
      <percentiles>0,50,90,100</percentiles>
    </hudson.plugins.performance.PerformancePublisher>
    <com.michelin.cio.hudson.plugins.copytoslave.CopyToMasterNotifier plugin="copy-to-slave@1.4.4">
      <includes>${module}/workspace/**/performance_report.xml</includes>
      <excludes></excludes>
      <overrideDestinationFolder>true</overrideDestinationFolder>
      <destinationFolder>/data01/jenkins/jobs/${module}/workspace</destinationFolder>
      <runAfterResultFinalised>false</runAfterResultFinalised>
    </com.michelin.cio.hudson.plugins.copytoslave.CopyToMasterNotifier>
  </publishers>
  <buildWrappers>
    <com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper plugin="copy-to-slave@1.4.4">
      <includes>${module}/workspace/</includes>
      <excludes></excludes>
      <flatten>false</flatten>
      <includeAntExcludes>false</includeAntExcludes>
      <hudsonHomeRelative>false</hudsonHomeRelative>
      <relativeTo>somewhereElse</relativeTo>
    </com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper>
  </buildWrappers>
</project>