<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.21">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty/>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.29.1">
      <projectUrl>https://github.com/nectar-uk/banking-enrolment-service/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <org.jenkinsci.plugins.periodicreincarnation.JobLocalConfiguration plugin="periodic-reincarnation@1.12.1">
      <isLocallyConfigured>false</isLocallyConfigured>
      <isLocallyDeactivated>false</isLocallyDeactivated>
    </org.jenkinsci.plugins.periodicreincarnation.JobLocalConfiguration>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.28">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.PasswordParameterDefinition>
          <name>token</name>
          <description>Nectar Git ID. 
Don&apos;t change the value</description>
          <defaultValue>{AQAAABAAAAAwusCh/ZIoi0jz08v8vlfdZ/SoBfTjt4omF+GVolgB8tkbknutFVuGvK/zOlEeE4eHu3YAuomNIQMphUTNLn4Lkw==}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.SCMTrigger>
          <spec>H/5 * * * *</spec>
          <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.53">
    <script>node {
   stage(&apos;Preparation&apos;) {

        build job: &apos;common-build&apos;, parameters: [string(name: &apos;branch&apos;, value: &quot;dev&quot;)]

   }
   stage(&apos;Build&apos;) {
       echo 
       build job: &apos;enrolment-build&apos;, parameters: [string(name: &apos;branch&apos;, value: &quot;dev&quot;)]
   }
   stage(&apos;SonarGate&apos;) {
       
       build job: &apos;SonarTests&apos;, parameters: [string(name: &apos;branch&apos;, value: &quot;dev&quot;), string(name: &apos;module&apos;, value: &apos;banking-enrolment-service&apos;)]
       echo &apos;SonarGate = Success&apos;
   }
   stage(&apos;jmeter&apos;) {
       build job: &apos;jmeter-job&apos;, parameters: [ string(name: &apos;module&apos;, value: &apos;enrolment-build&apos;)]
        echo &apos;jmeter-job ran&apos;
        echo &apos;check the report in this path: /data01/jenkins/jobs/jmeter-job/builds/&lt;build-no&gt;/archive/transaction-build/workspace/jmeter/scripts&apos;
   }
   stage(&apos;SOAP on Docker&apos;) {
//        sh &apos;&apos;&apos;     
//            docker-compose -f docker-compose-ci.yml -p vagrant up -d molehill-db enrolment
 //           sleep 90
 //           echo &apos;deploy schema&apos;
 //           ./banking-database/docker/deploy-molehill-schema-docker.sh -p vagrant
 //           echo &apos;pre test data&apos;
 //           ./banking-database/docker/deploy-test-data.sh -p vagrant
 //           /data01/soap/SoapUI-5.4.0/bin/testrunner.sh `pwd`/nectar-openapi-enrolment-soapui-test/New-card-request-resource/NewCardRequest-soapui-project.xml -P Env=Docker
 //           docker-compose -f docker-compose-ci.yml -p vagrant stop
 //           docker-compose -f docker-compose-ci.yml -p vagrant rm --force
      echo &quot;SOAP Test ran&quot;
//       &apos;&apos;&apos;
   }

}
</script>
    <sandbox>true</sandbox>
  </definition>
  <disabled>false</disabled>
</flow-definition>